
<span class="grid grid-pad" name=allComponentItems> 
  
<h3>Component Items</h3> 
  <a *ngFor="let item of allComponentItems" class="col-1-4" (click)="addCollectedItem(item)">
    <button mat-raised-button color="primary" matTooltip="item.name"
      aria-label="Button that displays a tooltip when focused or hovered over" class="module item">

      <img src="../../assets/img/{{item.name}}.png">
    </button>
  </a>
</span>
<p>
  <br>
</p>
<span>
<mat-divider class="mat-divider mat-divider-horizontal" 
role="separator" 
aria-orientation="horizontal">></mat-divider></span>

<span class="grid grid-pad" name=collectedItems>
  <h3>Collected Items</h3>
  <a *ngFor="let collectedItem of collectedItems" class="col-1-4" (click)="removeCollectedItem(collectedItem)">

    <button mat-raised-button matTooltip="collectedItem.name" aria-label="collectedItem.name"
      class="module items-collected">

      <img src="../../assets/img/{{collectedItem.name}}.png">
    </button>
  </a>
</span>
<p>
  <br>
</p>
<span>
<mat-divider class="mat-divider mat-divider-horizontal" 
role="separator" 
aria-orientation="horizontal">></mat-divider></span>

<span class="grid grid-pad" name=craftableItems>
  
<h3>Craftable Items</h3>
  <a *ngFor="let craftableItem of craftableItems" class="col-1-4" (click)="addCraftedItem(craftableItem)">

    <button mat-raised-button matTooltip="craftableItem.name"
      aria-label="Button that displays a tooltip when focused or hovered over" class="module items-collected">

      <img src="../../assets/img/{{craftableItem.name}}.png">
    </button>

  </a>
</span>
<p>
  <br>
</p>
<span>
<mat-divider class="mat-divider mat-divider-horizontal" 
role="separator" 
aria-orientation="horizontal">></mat-divider></span>
<h3>Possible Item Combinations from Unused Component Items</h3>
<span class="grid grid-pad" name=itemCombinations>
  <mat-list>
    <mat-list-item *ngFor="let itemCombination of itemCombinations" class="col-1-4">

      <a *ngFor="let item of itemCombination" class="col-1-4">
        <button mat-raised-button 
          matTooltip=item.name
          aria-label=item.name
          class="module items-collected">

          <img src="../../assets/img/{{item.name}}.png">
        </button>
      </a>

    </mat-list-item>
  </mat-list>
</span>